.navbar {
  position: fixed;
  z-index: 1001;
  width: 100%;
  background: #000;
  a {
    color: #fff;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-family: "Press Start 2P";
  }
  a:hover {
    color: #cc6699;
    letter-spacing: 4px;
  }
}

@media (max-width: 991px) {
  .navbar {
    background: #000;
    color: #fff;
    span {
      color: #fff;
      font-size: 3rem;
    }
    span::after {
      content: "Menu";
      margin-left: 10px;
    }
    a {
      color: #fff;
    }
  }
}
