@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Press+Start+2P&display=swap");
#container {
  width: 100%;
}

h1 {
  font-family: "Abril Fatface";
  font-size: 8rem;
}

h2 {
  font-family: "Abril Fatface";
  margin: auto;
}

p {
  font-family: "Press Start 2P";
}

nav {
  padding: 30px;
  z-index: 6;
  position: absolute;
  font-family: "Press Start 2P";
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 25px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.04em;
}

nav ul li a:hover {
  color: #808080;
  text-decoration: none;
}

#nav:checked + .nav-open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-open i {
  background: #fff;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hidden {
  display: none;
}

@media screen and (max-width: 560px) {
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-container ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav-container ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-container ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-container ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-container ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav-container ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-open {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav-open i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-open i:nth-child(3) {
    margin-top: 4px;
  }
}

.menu__link {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-bottom: 0.5rem;
  font-size: 1.85rem;
  position: relative;
  line-height: 1;
  color: #fff;
  margin-bottom: 2.5rem;
}

.menu__link:focus {
  color: #fff;
}

.menu__link:hover {
  color: #fff;
}

.menu__link:hover .menu__link-deco {
  opacity: 1;
}

.menu__link-inner {
  display: block;
  position: relative;
  outline: 100px solid transparent;
}

.menu__link-deco {
  outline: 120px solid transparent;
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.menu--line .menu__link-deco {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
}

.menu--linethrough .menu__link-deco {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
  bottom: 50%;
  height: 3px;
}

.menu--twolines .menu__link-deco {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
  height: 100%;
  background: none;
  border: 1px solid currentColor;
  border-right: 0;
  border-left: 0;
}

.menu--twolines .menu__link {
  padding: 0.95rem 0;
}

.menu--diagonal .menu__link-deco {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
  bottom: 50%;
  width: 9rem;
  left: 50%;
  margin-left: -4.5rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu--circle .menu__link-deco {
  left: 50%;
  top: 50%;
  width: 5rem;
  height: 5rem;
  margin: -2.5rem 0 0 -2.5rem;
  border-radius: 50%;
  border: 1px solid black;
}

.menu--box .menu__link-deco {
  left: 50%;
  top: 50%;
  width: 5rem;
  height: 5rem;
  margin: -2.5rem 0 0 -2.5rem;
  border: 1px solid black;
}

@media screen and (min-width: 53em) {
  .frame {
    text-align: left;
  }
  .menu {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu__link:not(:last-child) {
    margin-right: 2.5rem;
  }
  .title {
    text-align: left;
  }
  #cdawrap {
    max-width: 300px;
  }
}

header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 4;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 1;
  background-blend-mode: screen;
  background-image: url("https://transparenttextures.com/patterns/little-triangles.png");
}

header .overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.4;
  z-index: 2;
  background-blend-mode: screen;
  background-image: url("https://transparenttextures.com/patterns/subtle-grunge.png");
}

header .overlay-3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 3;
  background-blend-mode: exclusion;
  background: url(https://images.unsplash.com/photo-1442458017215-285b83f65851?ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80);
}

header p {
  font-family: "Press Start 2P";
  font-size: 3rem;
}

header #socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #socials a {
  color: #fff;
  font-size: 3rem;
  margin-right: 25px;
}

#portfolio {
  background: #170020;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  line-height: 350%;
}

#portfolio img {
  height: 700px;
  width: 400px;
}

#portfolio img:hover {
  -webkit-filter: invert(90%) blur(1px) hue-rotate(115deg);
          filter: invert(90%) blur(1px) hue-rotate(115deg);
}

#about {
  text-align: center;
  margin: 0 auto;
  line-height: 350%;
}

#about #about-photo {
  background: url(https://images.unsplash.com/photo-1442458017215-285b83f65851?ixlib=rb-1.2.1&auto=format&fit=crop&w=1575&q=80) #460c0c;
  padding: 20px;
  background-blend-mode: exclusion;
}

#about #about-photo img {
  mix-blend-mode: exclusion;
}

#contact {
  background: #170020;
  text-align: center;
  color: #fff;
  margin: 0 auto;
}

#contact p {
  line-height: 350%;
}

#contact form {
  width: 60%;
  margin: 0 auto;
}

#contact form button {
  background: #fff;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */